<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
      <form id="shopping-list-add">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--5-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="item-name" required>
              <label class="mdl-textfield__label" for="item-name">Name</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="item-amount" required>
              <label class="mdl-textfield__label" for="item-amount">Amount</label>
            </div>
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell md-cell--12-col mdl-cell--12-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
              Add
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
              Delete
            </button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Clear
            </button>
          </div>
        </div>
      </form>
  </div>
</div>
