@media screen and (max-width: 768px) {
    .mdl-container{
        width: auto;
        margin: 5% auto;
    }
}
@media screen and (min-width: 768px) {
    .mdl-container{
        width: 750px;
        margin: 5% 5%;
    }
}
@media screen and (min-width: 992px) {
    .mdl-container{
        width: 970px;
        margin: 5% 5%;
    }
}
@media screen and (min-width: 1200px) {
    .mdl-container{
        width: 1170px;
        margin: 5% 5%;
    }
}