<div class="recipe-card-wide mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{recipe.name}}</h2>
  </div>
  <div class="mdl-card__media recipe-list-bg">
    <img src="{{recipe.imagePath}}" border="0" width="656" height="359" alt="" />
  </div>
  <div class="mdl-card__supporting-text">
    {{recipe.description}}
  </div>
   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Recipie Details
    </a>
  </div>
</div>
